.address-form-container {
   max-width:15rem;
    
  }
  
  .address-form-container label {
    display: block;
    width:100%;
    font-weight:bold;
    margin-bottom: 5px;
    font-size:10px;
  
  }
  select.input{
    color:white;
    font-weight:bold;
  }
  
  .address-form-container .input {
    display: block;
    width: 12rem;
    padding: 8px;
    border: 2px solid rgb(235, 255, 233);
    outline: none;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: var(--common-lighter-bg-color);
  }
  
  .address-form-container .input:focus {
    border-color: rgb(235, 255, 233);
  }
  