.address-form-container {
   max-width:15rem;
  
  }
  
  .address-form-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .address-form-container input, .address-form-container select, .address-form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  