/* SliderWrapper */
.SliderWrapper {
    overflow: hidden;
    width: 100%;

}

/* SliderContainer */
.SliderContainer {
    display: flex;

    /* transition: transform 300ms ease-in-out; */
}

/* SliderItem */
.SliderItem {
    flex: 0 0 94%;
    margin: 0 3% 0 3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    background-color: #00937871;
    border-radius: 15px;
    position: relative;

}

.SliderItem:hover {
    cursor: grab;
}

.map-link {
    border-radius: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    padding: 1%;
    background-color: #009378;
    z-index: 6;
    top: 2%;
    right: 2%;
}

.map-link:hover {
    cursor: pointer;
    color: gold;
}

.shop-link {
    border-radius: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    padding: 1%;
    background-color: #009378;
    z-index: 6;
    top: 15%;
    right: 2%;
}

.shop-link:hover {
    cursor: pointer;
    color: gold;
}

.image-container {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    width: 100%;
    height: 400px;
    background-image: url("nrd-D6Tu_L3chLE-unsplash.jpg");
    /* background-image: url("renate-vanaga-2pV2LwPVP9A-unsplash.jpg"); */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: start;
    align-items: center;
}

.shop-info-container {
    background-color: rgba(255, 255, 255, 0.753);
    padding: 2%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    clip-path: polygon(0 0, 0 0, 100% 100%, 0% 100%);
}

.info-element {
    font-size: 25px;
    margin: 2%;
    color: #009378;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.last-review-container {
    font-size: 20px;
    padding: 2%;
    color: rgb(0, 0, 0);
}

.last-review-text {
    font-style: italic;
}

.last-review-stars {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    color: rgb(255, 187, 0);
}