@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

html,
body {
    background-color: #55b692;
}

:root {
    --common-margin: 20px;
    --common-padding: 20px;
    --common-font-size: 14px;
    --common-transition: all 0.3s ease;
    --common-bg-color: rgb(27, 80, 68);
    --common-lighter-bg-color: rgb(12, 130, 103);
    --common-text-color: #FFFFFF;
    --common-border-color: rgba(27, 80, 68, 0.655);
    --common-font-weight: 700;
}