
.logo{
    opacity:1;
    z-index:5;
    position: absolute;
    top:5px;
    left: 50%;
    transform: translateX(-50%);
    cursor:pointer;
}


@media screen and (max-height: 768px) {
    .logo{
        top: 0;
        left: 0;
        margin-left:1rem;
        transform: translateX(0);
    }
}

@media screen and (max-height: 633px) {
    .logo{
        display:none;
    }
}