:root{
    --color: #08a386;
}

.reviewItem {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 0px 6px 5px rgba(96, 96, 96, 0.459);
    border-radius: 8px;
    margin: 5px 0;
    
}

.reviewHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 1em 0 1em;
    
}

.icon {
    margin-right: 5px;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    justify-content: center;
    gap: 5px;
}

.labelRating{
    padding:0.3em;
    border-radius:5px;
    position:relative;
    top:3px;
    left:4px;
    font-size:13px;

}
.thumbs {
    display: flex;
    align-items: center;
    ;
    gap:0.9em;
    padding:0.5em;

}
.thumbsUp,.thumbsDown{
    display:flex;
    align-items:center;
    font-weight:bold;
}
.thumbsUp{
    color:var(--color);
}

.thumbsDown{
    color:rgb(255, 108, 108);
}

.author,.calendar{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    font-size:12px;
}

.content{
    
    padding:0.5em;
    font-size:14px;
    line-height:1.6em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.profileImage{
    width:100%;
    height:100%;
    border-radius:10px;
    object-fit:cover;
    object-position:center;
}

.picture{
    width:2.6em;
    height:2.6em;
    border-radius:10px;
    overflow:hidden;
    margin-right:10px;
}


.reviewImages{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: flex-end;
    flex-wrap:wrap;
    padding: 3px 1em;
}
.reviewImageWrapper{
    width:20px;
    height:20px;
    border-radius:10px;
    overflow:hidden;
    margin-right:10px;
    display:flex;
    cursor:pointer;
}

.reviewImageWrapper > *{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
}
