.order-summary-container {
    border: 1px solid #ddd;
    padding: 15px;
  }
  
  .order-summary-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .order-summary-container li {
    margin-bottom: 5px;
  }
  