.order-summary-container {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  