.SSP {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 241, 157);
    background-color: rgb(255, 255, 255);
    height: 100%;
    z-index: 1;
    /* overflow-y: auto;
    overflow-x: hidden; */
}



.shop_header_container {
    width: 100vw;
    height: 35vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -1%;
}


.shop_slider_container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/StockImages/josh-wilburne-KZuX70oDBKA-unsplash.jpg');
    background-position: center;
    background-size: cover;
}

.shop_info_container {
    position: absolute;
    bottom: 25%;
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.shop_info {
    position: relative;
    width: 70%;
    height: 100%;
    background-color: #ffffffd2;
    backdrop-filter: blur(5px);
    padding: 1%;
    /* background-color: #3dcfb5; */
    border-radius: 15px;
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.666);
}


.reviews_counter_container {
    position: absolute;
    top: 3%;
    right: 1%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

}

.review_number {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: gold;
    font-size: 1.3em;
}

.review_count {
    font-size: 0.6em;
    text-align: end;
}

.shop_name {
    position: absolute;
    top: 15%;
    left: 35%;
    font-size: 36px;
    width: 30%;
    text-align: center;
    color: #00a082;


}

.opening_hours_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 30%;

}

.opening_hours_container>div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 2%;

}

.shop_delivery {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 30%;
}

.shop_delivery>p {
    padding: 0 1% 0 1%;
}

.shop_icon {
    color: #00a082;
    font-size: 1.3em;
}

.shop_short_descrption {
    margin-top: 1%;
    color: rgba(103, 103, 103, 0.94);

}

.extras_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60%;
    position: absolute;
    right: 1%;
    bottom: 10%;
    font-size: 1.2em;
    color: #00a082;
}


.shop_map {
    height: 100%;
    width: auto;
}

/* ------------------------------------ */

.about_shop_links {
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: -10%;
    padding: 1% 0 1% 0;
    width: 60%;
    border-radius: 15px;
    background-color: #00a08342;
    /* background-color: #a0000051; */

    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.327);
    z-index: 4;

}


.about_shop_link {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

.about_shop_link:hover {
    cursor: pointer;
}

.about_shop_link {
    --border-right: 6px;
    --text-stroke-color: rgba(0, 0, 0, 0.6);
    --animation-color: #37FF8B;
    --animation-color: #ffffff;
    --animation-color: #ffffff;
    --fs-size: 1.3em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    width: fit-content;
    color: rgb(0, 0, 0);
    transition: 0.2s;



}

.hover_text {
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    /* -webkit-text-stroke: 1px var(--animation-color); */
}

.hover_text_active {
    width: 100%;
    -webkit-filter: drop-shadow(0 0 23px var(--animation-color));
    filter: drop-shadow(0 0 23px var(--animation-color));
    -webkit-text-stroke: 1px #ffffff;
    color: #ffffff;

}

.about_shop_link:hover {
    color: #ffffff;
    -webkit-text-stroke: 1px #ffffff;


}

.router_page {
    width: 100%;
}