.grid_container {

    padding: 0px;
}

.grid-item {
    background-color: #3498db;
    border: 1px solid #2980b9;
}

.grid {
    display: grid;
    grid-template-columns: repeat(25, 25px);
    grid-template-rows: repeat(4, 25px);
    gap: 2px;
}

.grid-item {
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.grid-item.connected {
    background-color: #87CEEB;
    /* Kolor dla połączonych divów */
}