.checkout-container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: stretch;
    background: rgb(221, 255, 237);
  }
  
  .column-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .column-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .checkout-container > div > * {
    border: 3px solid var(--common-bg-color);
    border-radius: 12px;
    padding: 1rem;
  }
  