.checkout-container {
  width: 95vw;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  color:white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: stretch;
  background-color:  var(--common-bg-color);
}


.column-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.column-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkout-container > div > * {
  border-radius: 4px;
  -webkit-box-shadow: 8px 8px 6px -7px rgba(167, 167, 167, 1);
  -moz-box-shadow: 8px 8px 6px -7px rgba(167, 167, 167, 1);
  box-shadow: 8px 8px 6px -7px rgba(167, 167, 167, 1);
  outline: none;
  border:none;
  
  padding: 1rem;
  background: var(--common-lighter-bg-color);
}

.checkout-container h2 {
  border-bottom: 1px solid white;
  padding: 5px;
  width: 100%;
  margin-bottom: 1em;
  font-size: 14px;
}
